.page__content {
  padding: 0 48px;
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page__content {
    padding: 0 24px;
  }
}
@media (max-width: 510px) {
  .page__content {
    padding: 0 16px;
  }
}
